

{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
<div class="alert alert-light text-center mx-5" role="alert">
	
    
    <p>
    {%if  car.car_img.url != null %}
        <img class ="imgtry"src="{{car.car_img.url}}">
    {%endif%}
    </p>
    <p class="alert-make">{{car.make}}</p>
    <p class="alert-model">{{car.model}}</p>
    <p class="alert-year">{{car.year}}</p>
    <a href="{% url 'car-update' car.id %}" class="btn">
       Update <i class="far fa-edit"></i>
    </a>
    <a href="{% url 'car-delete' car.id %}" class="btn">
       Delete <i class="fas fa-eraser"></i>
    </a>
    </div>
{% endblock content %}